@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f3;
    margin: 0;
    padding: 0;
}

#app {
    
}

#submit {
    width: 500px;
    margin: 0 auto;
}

#sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}

#items {
    width: 500px;
    margin: 0 auto;
}

#counters {
    width: 500px;
    margin: 0 auto;
}



